/* About CSS */
.about {
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-margin-top: 120px; /* Scroll margin for desktop */
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  gap: 2rem;
}

.profile-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-pic {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-text-wrapper {
  flex: 2.5;
}

.about-text {
  max-width: 600px;
  text-align: left;
  font-size: 1.125rem;
  line-height: 1.7;
  position: relative;
}

/* OMC GROUP link with underline animation */
.omc-group {
  position: relative;
  display: inline-block;
}

.omc-group a {
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.omc-group a:hover {
  color: var(--primary-hover-color); /* Change color on hover if desired */
}

.omc-group a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: orange; /* Orange line color */
  transition: width 0.3s ease;
}

.omc-group a:hover::after {
  width: 100%; /* Full width on hover */
}

@media (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
    scroll-margin-top: 150px; /* Adjust this to match the height of the fixed navbar */
  }

  .profile-wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 0; /* Remove unnecessary margin */
  }

  .profile-pic {
    width: 150px;
    height: 150px;
    margin-top: 0; /* Ensure there's no vertical margin pushing it down */
    margin-bottom: 1.5rem;
  }

  .about-text {
    text-align: center;
    font-size: 1rem;
    margin-bottom: -6.5rem;
  }
}
